/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* #172039, #1d2a49, #212f52, #eee6db, #efe8de, #f3ede5 */
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C0F4A;
  /* background: linear-gradient(-45deg, #172039, #1d2a49, #212f52); */
  background-size: 600% 600%;
  animation: nebula 20s ease infinite;
  color: #fff;
  overflow-x: hidden;
  min-height: 100vh;
}

@keyframes nebula {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}
